# Custom for this repo
slurm_outputs/
figures/
figures_png/

# Let's ignore the many .log files which are huge and serve more as debugging
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
# Ignore virtual environment directories created by Pipenv
pipenv-*


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# Cython debug symbols
cython_debug/

# VS Code settings
.vscode/