##### v1_w_hist.jinja2 #####

You will be assigned a task. 
You will receive the current state of the environment, the actions you have available, followed by the action taken and their respective reward. 
Your goal is to maximize the total reward across all {{ num_turns }} steps. We are on step {{ current_turn }}. 

Task Assignment:
---
{{ task_prompt }}
---

Current State:
---
{% if state %}
{% for key, value in state.items() %}
- {{ key }}: {{ value }}
{% endfor %}
{% else %}
State is empty.
{% endif %}
---

Available Actions:
---
{% for action in actions %}
- {{ action }}
{% endfor %}
---
When selecting an action, include only the name of the action. Do not include the dashes used to indicate the list here.

History:
---
{% if history %}
{% for entry in history %}
- {{ entry }}
{% endfor %}
{% else %}
This is the first turn. There is no history.
{% endif %}
---

Please select an action from the list of action options in order to maximize the reward for your task.
When selecting an action, put the exact name of the action between action tags like: <action> action_name </action>.

If you cannot answer within 5 reasoning steps, output the best answer you have so far.
Never extend your chain-of-thought beyond 5 steps.
