You will be assigned a task. 
You will receive the actions you have available, followed by the action history. 
Your goal is to maximize the total reward across all {{ num_turns }} steps. We are on step {{ current_turn }}. 

Task Assignment:
---
{{ task_prompt }}
---
{% if context %}
Current Context:
---
{% for key, value in context.items() %}
- {{ key }}: {{ value }}
{% endfor %}
---
{% endif %}
Available Actions:
---
{% for action in actions %}
- {{ action_suffix }} Name: {{ action }} - This action has been selected {{ per_action_summarized_history[action]['count'] }} time(s) for an observed mean of {{ per_action_summarized_history[action]['obs_mean'] }}
{% endfor %}
---
When selecting an action, include only the name of the action. Do not include the dashes used to indicate the list here. 

Be careful about bias in the action labels. Action names may be misleading and are not guaranteed to correlate with reward.

Please select an action from the list of action options in order to maximize the reward for your task.
When selecting an action, put the exact name of the action between action tags like: <action> action_name </action>.

Your thinking budget is {{ thinking_budget }} tokens. If you exceed this limit, you will be forced to provide an immediate answer.
Your overall generation limit is {{ new_token_budget }} tokens.